<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <main>
        <section class="section-1">
            <h1>MY RESUME</h1>
            <p><b>Name:</b> Igbatayo Adetunji</p>
            <p><b>Email:</b> adetunjiigbatayo@gmail.com</p>
            <p><b>Mobile Line:</b> 09053572653 OR 09075342544</p>
            <p><b>Contact Address:</b> Tanke Ilorin Kwara State</p>
        </section>

        <section>
            <h3>BIO</h3>
            <p>I am an aspiring software developer and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt autem accusantium reiciendis adipisci. Dolor, culpa, est aperiam dolorum ipsam dolorem ad 
                explicabo, amet illum deleniti eos nemo? Accusantium, recusandae officia?
            </p>
        </section>

        <section>
            <h3>Educational Institutions attended with dates:</h3>
            <p><b>1.</b> Afe Babalola University, Ado-Ekiti; 2012 – 2017.</p>
            <p><b>2.</b> Federal Science & Technical College, Ikare; 2009 – 2012.</p>
        </section>

        <section>
            <h3>Academic Qualifications obtained and Class of Degrees with Dates:</h3>
            <p><b>1.</b> Bachelor of Engineering Degree (Petroleum), 2nd Class; 2017</p>
            <p><b>2.</b> West African School Certificate, WAEC & NECO; 2012</p>
        </section>

        <section>
            <h3>Work Experience with year and Responsibilities:</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas assumenda fuga vitae provident pariatur voluptate, mollitia ea inventore. 
                Minus harum saepe sit reprehenderit quibusdam nostrum aperiam minima. Expedita, similique!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia blanditiis libero iusto perferendis, eligendi modi illum 
                veritatis omnis ullam eaque cupiditate earum magnam autem asperiores ut molestiae dicta rerum rem?
            </p>
        </section>

        <section>
            <h3>Hobbies:</h3>
            <p><b>1.</b> Coding.</p>
            <p><b>2.</b> Reading.</p>
            <p><b>3.</b> Travelling.</p>
            <p><b>4.</b> Cyber surfing.</p>
        </section>

        <section>
            <h3>Contact Me:</h3>
            <p>If you love what you see and you want to reach out to me then please kindly fill the form below and 
                I'll be sure to get in touch with you right away!</p>
            <form action="/contact-me" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <br>
                <label for="phonenumber">Phone Number</label>
                <input type="number" id="phonenumber" name="phonenumber" required>
                <br>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <br>
                <button>Submit</button>
            </form>
        </section>
    </main>
</body>
</html>